@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<main class="main-content-forms">
    <div class="row container-form">
        <h1 class="title-cf-principal">casa fernadnez</h1>
        <p class="text-vajilla-principal">vajillas</p>
        <hr class="hr-fomr" />
        <div class="col-md-6 container-inputs">
               <h2 class="subtilte-form">Registrate aquí</h2>
            <section id="Form">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="group">
                        <input class="input" asp-for="Input.Email" class="form-control" autocomplete="off"
                            aria-required="true" placeholder="" />
                        <label class="label-input" asp-for="Input.Email">Email</label>
                    </div>
                    <div class="group">
                        <input class="input" asp-for="Input.Password" class="form-control"
                            autocomplete="off" aria-required="true" placeholder="" />
                        <label class="label-input" asp-for="Input.Password">Password</label>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="group">
                        <input class="input" asp-for="Input.ConfirmPassword" class="form-control"
                            autocomplete="off" aria-required="true" placeholder="" />
                        <label class="label-input" asp-for="Input.Password">Password</label>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-form">Register</button>
                </form>
            </section>

        </div>
         <div class="col-md-6 container-img">
            <div class="content-logo">
                <h1 class="title-logo">CASA FERNANDEZ</h1>
                <p class="text-vajilla">vajillas</p>
                <p class="text-since">since 1984</p>
            </div>


        </div>
    </div>

</main>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
